<html lang="en">
<head>
    <title>Network Visualizer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<!-- Main Panel -->
<div class="container-fluid h-100">
    <div class="row p-3 h-100">

        <!-- Selection Panel -->
        <div class="border col-2">

            <!-- Query options -->
            <h6 class="text-center pt-2 m-0" style="height: 3%">Query Nodes</h6>
            <div class="overflow-auto" style="height: 10%">
                <div class="row-cols-1 d-flex flex-column" style="height: 100%">
                    <select id="node-query" class="m-auto w-100" multiple="multiple"></select>
                </div>
            </div>
            <h6 class="text-center pt-2 m-0" style="height: 3%">Ignore Nodes</h6>
            <div class="overflow-auto" style="height: 10%">
                <div class="row-cols-1 d-flex flex-column" style="height: 100%">
                    <select id="ignore-query" class="m-auto w-100" multiple="multiple"></select>
                </div>
            </div>
            <div class="form-group row m-0" style="height: 2.5%">
                <label for="min" class="col-6 text-left p-0 m-0" style="line-height: 2">Minimum connections: </label>
                <input type="text" id="min" value="1" class="col-6 form-control-plaintext p-0 text-left">
            </div>
            <div id="all-connections-button" class="text-center pt-2 m-0" style="height: 4.5%">
                <button class="btn btn-light w-100" onclick="this.blur();">Show All Connections</button>
            </div>
            <div class="text-center pt-2 m-0" style="height: 4.5%">
                <button class="btn btn-light w-100" onclick="parseData()">Run Query</button>
            </div>

            <!-- Node Select -->
            <h6 class="text-center m-0" style="height: 3%">Select Node Names</h6>
            <div class="overflow-auto" style="height: 41.5%">
                <!-- Node Buttons -->
                <div id="name-select" class="row row-cols-2 m-auto w-100 node-select">
                    <button class="btn btn-light keep" onclick="this.blur(); selectAllNames()">Select All</button>
                    <button class="btn btn-light keep" onclick="this.blur(); removeAllNames()">Remove All</button>
                </div>

                <p class="text-center pt-3 pb-1 m-0">New Nodes</p>
                <div id="new-name-select" class="row row-cols-2 m-auto w-100 node-select">
                </div>
            </div>

            <!-- Connection Select -->
            <h6 class="text-center m-0" style="height: 3%">Select Connection Types</h6>
            <div class="overflow-auto m-0" style="height: 10.5%">
                <!-- Connection Buttons -->
                <div id="type-select" class="row row-cols-2 m-auto w-100">
                    <button class="btn btn-light keep" onclick="this.blur(); selectAllTypes()">Select All</button>
                    <button class="btn btn-light keep" onclick="this.blur(); removeAllTypes()">Remove All</button>
                </div>
            </div>

            <!-- Auxiliary Node Select -->
            <div id="aux-button" class="text-center pt-2 m-0" style="height: 4.5%">
                <button class="btn btn-light" onclick="this.blur();">Show Auxiliary Nodes</button>
            </div>

        </div>

        <!-- Display Panel -->
        <div class="border col-7">

            <!-- Network View -->
            <div class="w-100 h-75">
                <svg id="network" class="w-100 h-100">
                    <g id="edges"></g>
                    <g id="nodes"></g>
                </svg>
            </div>

            <!-- Totals View -->
            <div class="w-100 h-25">
                <div class="m-0 text-center" style="height: 15%">
                    <button class="btn btn-light" onclick="updateDateRange('full')">Whole Range</button>
                    <button class="btn btn-light" onclick="updateDateRange('2week')">2 Weeks</button>
                    <button class="btn btn-light" onclick="updateDateRange('month')">1 Month</button>
                    <button class="btn btn-light" onclick="updateDateRange('quarter')">1 Quarter</button>
                    <button class="btn btn-light" onclick="updateDateRange('6month')">6 Months</button>
                    <button class="btn btn-light" onclick="updateDateRange('year')">1 Year</button>
                </div>
                <svg id="totals" class="m-0 w-100" style="height: 85%">
                    <g id="brush"></g>
                    <g id="x-axis"></g>
                    <g id="y-axis"></g>
                    <g id="scatter"></g>
                </svg>
            </div>
        </div>

        <!-- Data Panel -->
        <div class="border col-3">

            <!-- Connections Table -->
            <div class="pt-2 overflow-auto" style="height: 72%">
                <table id="summary-table">
                </table>
            </div>

            <!-- Force Options -->
            <h6 class="text-center pt-2 m-0" style="height: 5%">Options</h6>
            <div id="force-options" class="form-group m-0">
                <label class="w-100 text-center m-0">
                    Charge Strength:
                    <output id="charge-strength-output">-500</output>
                    <input class="w-100" id="charge-strength" type="range" min="-1000" max="100" value="-500"
                           step=".1" oninput="d3.select('#charge-strength-output').text(value);">
                </label>
                <label class="w-100 text-center m-0">
                    Max Distance:
                    <output id="charge-max-output">2000</output>
                    <input class="w-100" id="charge-max" type="range" min="0" max="2000" value="2000"
                           step=".1" oninput="d3.select('#charge-max-output').text(value);">
                </label>
                <label class="w-100 text-center m-0">
                    X Strength:
                    <output id="x-strength-output">.1</output>
                    <input class="w-100" id="x-strength" type="range" min="0" max="0.25" value=".1"
                           step="0.01" oninput="d3.select('#x-strength-output').text(value);">
                </label>
                <label class="w-100 text-center m-0">
                    Y Strength:
                    <output id="y-strength-output">.1</output>
                    <input class="w-100" id="y-strength" type="range" min="0" max="0.25" value=".1"
                           step="0.01" oninput="d3.select('#y-strength-output').text(value);">
                </label>
                <label class="w-100 text-center m-0">
                    Link Distance:
                    <output id="link-distance-output">100</output>
                    <input class="w-100" id="link-distance" type="range" min="0" max="500" value="100"
                           step="1" oninput="d3.select('#link-distance-output').text(value);">
                </label>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.v5.min.js') }}"></script>
<script>
    let fetchURL = "{{ url_for("main.filter_data") }}";
    let nodeURL = "{{ url_for("main.nodes") }}";
</script>
<script src="{{ url_for('static', filename='js/visualize.js') }}"></script>
</body>
</html>